:root {
  /* Font Family */
  --ff_body: 'Inter', sans-serif;

  /* Font Weight */
  --fw_400: 400;
  --fw_700: 700;

  /* Font Size */
  --fs_heading_xl: 4rem;
  /* 64px */
  --fs_heading_l: 3rem;
  /* 48px */
  --fs_heading_m: 1.5rem;
  /* 24px */
  --fs_heading_s: 1.25rem;
  /* 20px */
  --fs_body_m: 1rem;
  /* 16px */
  --fs_body_s: 0.875rem;
  /* 14px */

  /* Line Height */
  --lh_heading: 110%;
  --lh_body: 150%;

  /* Colors */
  --clr_blue: hsl(227, 92%, 58%);
  --clr_gunmetal: hsl(215, 31%, 21%);
  --clr_darkeletricblue: hsl(215, 17%, 45%);
  --clr_borders: hsl(200, 25%, 88%);
  --clr_purewhite: hsl(0, 0%, 100%);
  --clr_blue_gradient: linear-gradient(to right, hsl(227, 92%, 58%), hsl(227, 100%, 67%));

  /* Utility classes */

  .text-align-center {
    text-align: center;
  }
}


html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff_body);
  font-weight: var(--fw_400);
  background-color: var(--clr_purewhite);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main_bg {
  width: 100%;
  height: 640px;
  background: rgb(214, 230, 254);
  background: linear-gradient(315deg, rgba(214, 230, 254, 1) 0%, rgba(214, 252, 254, 0) 100%);
  position: absolute;
  top: 0;
  z-index: -1;
  border-bottom-left-radius: 2.1875rem;
  border-bottom-right-radius: 2.1875rem;
}

.page_header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block-start: 2rem;
}

.logo {
  width: 36.72px;
}

.hero_section {
  padding-inline: 1.5rem;
  margin-block-start: 1.5rem;
}

.hero_title {
  font-size: var(--fs_heading_l);
  font-weight: var(--fw_700);
  line-height: var(--lh_heading);
  color: var(--clr_gunmetal);
}

.body_text {
  font-size: var(--fs_body_m);
  font-weight: var(--fw_400);
  line-height: var(--lh_body);
  color: var(--clr_darkeletricblue);
}

.hero_section .body_text {
  margin-block-start: 1.5rem;
}

.calculator {
  background-color: var(--clr_purewhite);
  border-radius: 1rem;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  margin-block-start: 3rem;
  box-shadow: 1rem 2rem 3.5rem hsla(211, 41%, 69%, 0.25);
}

.calculator_title {
  font-size: var(--fs_heading_m);
  font-weight: var(--fw_700);
  letter-spacing: calc(-5 * 0.01em);
  color: var(--clr_gunmetal);
}

.radio_wrapper {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1.5rem;
}

.radio_wrapper>* {
  display: flex;
  align-items: center;
  gap: 1.125rem;
}

.calc_form input[type="radio"] {
  appearance: none;
  width: 31px;
  height: 31px;
  border: 1px solid var(--clr_borders);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc_form input[type="radio"]:hover {
  border: 1px solid var(--clr_blue);
}

.calc_form input[type="radio"]:checked {
  background-color: hsla(227, 92%, 58%, 0.15);
  border: 1px solid transparent;
}

.calc_form input[type="radio"]:checked::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: var(--clr_blue);
  border-radius: 50%;
  position: absolute;
}

.radio_wrapper label {
  font-size: var(--fs_body_m);
  font-weight: var(--fw_700);
  line-height: var(--lh_body);
  color: var(--clr_gunmetal);
}

.imperial_wrapper {
  padding-inline-end: 1rem;
}

.measure_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 1.5rem;
}

.measure_wrapper .input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.measure_wrapper label {
  font-size: var(--fs_body_s);
  font-weight: var(--fw_400);
  line-height: var(--lh_body);
  color: var(--clr_darkeletricblue);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.measure_wrapper input[type="number"] {
  width: 100%;
  font-size: var(--fs_heading_m);
  line-height: var(--lh_heading);
  font-weight: var(--fw_700);
  border: 1px solid #D8E2E7;
  border-radius: 12px;
  padding-inline: 1.5rem;
  padding-block: 1.25rem;
  outline: none;
  color: var(--clr_gunmetal);
}

.measure_wrapper input[type="number"]::placeholder {
  opacity: 25%;
}

.measure_wrapper input[type="number"]:focus-visible,
.measure_wrapper input[type="number"]:hover {
  border: 1px solid var(--clr_blue);
}

.input_wrapper .container_1,
.input_wrapper .container_2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input_wrapper .container_1::after {
  content: 'cm';
  position: absolute;
  font-size: var(--fs_heading_m);
  font-weight: var(--fw_700);
  letter-spacing: calc(-5 * 0.01em);
  padding-inline-end: 1.5rem;
  color: var(--clr_blue);
}

.input_wrapper .container_2::after {
  content: 'kg';
  position: absolute;
  font-size: var(--fs_heading_m);
  font-weight: var(--fw_700);
  letter-spacing: calc(-5 * 0.01em);
  padding-inline-end: 1.5rem;
  color: var(--clr_blue);
}

.bmi_output_card {
  color: var(--clr_purewhite);
  background: var(--clr_blue_gradient);
  padding-inline: 2rem;
  padding-block: 2rem;
  margin-block-start: 1.5rem;
  border-radius: 1rem;
}

.bmi_output_empty {
  display: none;
}

.empty_title {
  font-size: var(--fs_heading_s);
  font-weight: var(--fw_700);
  line-height: var(--lh_heading);
}

.empty_text {
  font-size: var(--fs_body_s);
  font-weight: var(--fw_400);
  line-height: var(--lh_body);
  margin-block-start: 1.5rem;
}

.bmi_output_result {
  display: block;
}

.result_title {
  font-size: var(--fs_body_m);
  font-weight: var(--fw_700);
}

.result_score {
  font-size: var(--fs_heading_l);
  font-weight: var(--fw_700);
  line-height: var(--lh_heading);
  letter-spacing: calc(-5 * 0.01em);
  margin-block-start: 0.5rem;
}

.result_text {
  font-size: var(--fs_body_s);
  font-weight: var(--fw_400);
  line-height: var(--lh_body);
  margin-block-start: 1.5rem;
}

.your_result_section {
  margin-block-start: 4.5rem;
}

.section_subtitle {
  font-size: 2rem;
  font-weight: var(--fw_700);
  line-height: var(--lh_heading);
  letter-spacing: calc(-5 * 0.01em);
  color: var(--clr_gunmetal);
}

.your_result_section .section_subtitle {
  padding-inline: 1.5rem;
  margin-block-start: 3rem;
}

.your_result_section .body_text {
  padding-inline: 1.5rem;
  margin-block-start: 2rem;
}

.tips_section {
  background-image: linear-gradient(to right top, hsla(215, 95%, 92%, 0.25), #d6fcfe00);
  padding-inline-start: 1.19rem;
  padding-inline-end: 1.81rem;
  padding-block: 3.5rem;
  margin-block-start: 4.475625rem;
  display: grid;
  gap: 2.5rem;
}

.tip_icon {
  width: 4rem;
}

.tip_title {
  font-size: var(--fs_heading_m);
  font-weight: var(--fw_700);
  letter-spacing: calc(-5 * 0.01em);
  color: var(--clr_gunmetal);
  margin-block-start: 2rem;
}

.tips_section .body_text {
  margin-block-start: 1.5rem;
}

.limitations_section {
  padding-inline-start: 1.1875rem;
  padding-inline-end: 1.8125rem;
  padding-block-end: 6rem;
  margin-block-start: 4.5rem;
}

.limitation_text {
  margin-block-start: 2rem;
}

.limitations_section .cards_wrapper {
  display: grid;
  gap: 1rem;
  margin-block-start: 3.5rem;
}

.card-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.limitation_card {
  position: relative;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  border-radius: 1rem;
  box-shadow: 1rem 2rem 3.5rem hsla(211, 41%, 69%, 0.25);
  background-color: var(--clr_purewhite);
}

.limitation_card:nth-child(1) {
  z-index: 1;
}

.limitation_card:nth-child(2) {
  z-index: 2;
}

.limitation_card:nth-child(3) {
  z-index: 3;
}

.limitation_card:nth-child(4) {
  z-index: 4;
}

.limitation_card:nth-child(5) {
  z-index: 5;
}

.limitation-icon {
  width: 2rem;
}

.limitation_title {
  font-size: var(--fs_heading_s);
  font-weight: var(--fw_700);
  letter-spacing: calc(-5 * 0.01em);
  color: var(--clr_gunmetal);
}

.limitation_card .body_text {
  margin-block-start: 1rem;
}

@media screen and (min-width: 767px){
  .logo {
    width: 40px;
  }

  .hero_section {
    padding-inline-start: 2.4375rem;
    padding-inline-end: 2.6875rem;
    margin-block-start: 2.5rem;
  }

  .hero_title {
    padding-inline: 9.375rem;
  }

  .calculator {
    padding-inline: 2rem;
    padding-block: 2rem;
    margin-block-start: 2.5rem;
  }

  .radio_wrapper {
    margin-block-start: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    
  }

  .measure_wrapper {
    flex-direction: row;
    gap: 1.5rem;
    margin-block-start: 2rem;
  }

  .bmi_output_card {
    margin-block-start: 2rem;
    border-radius: 16px 100px 100px 16px;
    
  }

  .bmi_output_result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .grid_item_1 {
    grid-column: 1;
  }

  .result_text {
    grid-column: 2;
    margin-block-start: 0;
  }
}
